VITE_NETWORK=testnet
VITE_PACKAGE_ID=0xTODO_replace_after_deploy
VITE_GLOBAL_CONFIG_ID=0xTODO_replace_after_deploy
VITE_ADMIN_ADDRESS=0xTODO_replace_after_deploy
VITE_IOTA_FULLNODE_URL=https://api.testnet.iota.cafe
